*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    flex-direction: row;
    font-family: 'Open sans', Arial, sans-serif;
}

#header{
    border: 1px solid gray;
    width: 290px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1.8em;
}

nav{
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: 100%;
    width: 15vw;
    border-right: solid gray;
}

li{
    list-style: none;
    padding: 10px 20px;
    border-top: 1px solid gray;
}

a{
    text-decoration: none;
}

main{
    position: absolute;
    margin: 20px auto 10px 330px;  
}

main h1{
    padding-bottom: 20px;
}

main p{
    margin: 10px 20px 10px 20px;
    padding-bottom: 10px;
    
}

main li{
    border: none;
    list-style: disc;
    margin-left: 70px;
    font-size: 0.9em;
}

section header{
    font-size: 1.8em;
    padding: 15px 0;
}

section p{
    font-size: 0.9em;
}

code{
    display: block;
    white-space: pre-line;
    background: lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 30px 20px 23px;
    line-height: 25px;
}

.diff-list{
    list-style: circle;
    margin-left: 150px;
}

@media (max-width: 815px){
    nav #header{
        position: relative;
        width: 100%;
        max-height: 275px;
        z-index: 1;
        font-size: 2em;
    }
    nav{
        position: absolute;
        width: 100%;
        max-height: 275px;
        z-index: 1;
    }
    nav ul{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: auto;
        border-bottom: solid gray;
    }
    main{
        position: absolute;
        margin: 275px 20px 20px 20px
    }
}